@charset "utf-8";

/*--mobile--*/
@media(max-width: 480px) {

    body {
        background-image: url("../eis1.jpg");
    }
    
    header {
        background-color: #fae0f0ef;
        margin: 1em 2em;
        border: dotted;
        border-color: #999999;
        border-width: 0.2em;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times;
        color: #999999;
        font-style: oblique;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        background-color: #fae0f0ef;
    }

    header p {
        font-family: Georgia, 'Times New Roman', Times;
        color: #999999;
        font-style: oblique;
        display: flex;
        justify-content: center;
        font-size: 0.5em;
    }

    .boxen {
        display: grid;
        float: left;
        box-shadow: 5px 5px 10px grey;
        background-color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        border: dotted;
        border-color: #999999;
    }

    legend {
        background-color: #fae0f0ef;;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
        border: dotted;
        border-color: #999999;
        border-width: 1px;
    }
}


/*--Tablet--*/
    
@media(min-width:480px) and (max-width:768px) {

    body {
        background-image: url("../eis1.jpg");
    }


    header {
        background-color: #fae0f0ef;
        margin: 1em 2em;
        border: dotted;
        border-color: #999999;
        border-width: 0.2em;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times;
        color: #999999;
        font-style: oblique;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        background-color: #fae0f0ef;
        font-variant: small-caps;
        
    }

    header p {
        font-family: Georgia, 'Times New Roman', Times;
        color: #999999;
        font-style: oblique;
        display: flex;
        justify-content: center;
        font-size: 1em;
    }
        
.boxen {
    margin: 1em 2em;
    box-shadow: 5px 5px 10px grey;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    border: dotted;
    border-color: #999999;
}

legend {
    background-color: #fae0f0ef;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border: dotted;
    color: #686868;
    border-color: #999999;
    border-width: 1px;
}

button {
    background-color: #fae0f0ef;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 1em;
    box-shadow: 3px 3px 7px grey;
}

button:hover {
    background-color: #ffffff;
    border-color:  #fae0f0ef;
    border-width: 3px;
    font-style: normal;
    cursor: pointer;
}

input[type=text] {
    width: 95%;
    padding: 5px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
  }

input[type=radio] {
    margin: 1em;
    cursor: pointer;
}

input[type=checkbox] {
    margin: 1em;
    cursor: pointer;
}

input[type=number] {
    margin: 0.7em;
    cursor: pointer;
}
    
}


/*--Desktop--*/
    
@media(min-width:768px) and (max-width:1288px) {

    body {
        background-image: url("../eis1.jpg");
    }

    header {
        background-color: #fae0f0ef;
        margin: 1em 4em;
        border: dotted;
        border-color: #999999;
        border-width: 0.3em;
        font-variant: small-caps;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times;
        color: #686868;
        font-style: oblique;
        font-size: 2.6rem;
        display: flex;
        justify-content: center;
        background-color: #fae0f0ef;
    }

    header p {
        font-family: Georgia, 'Times New Roman', Times;
        color: #838383;
        font-style: oblique;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }

        
    .boxen {
        margin: 1em 2em;
        padding: 1em;
        box-shadow: 5px 5px 10px grey;
        background-color: #ffffff;
        font-family: Georgia, 'Times New Roman', Times;
        font-style: oblique;
        color: #838383;
        border: dotted;
        border-color: #999999;
        font-size: 1.1rem;
    }
    
    legend {
        background-color: #fae0f0ef;
        color: #686868;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times;
        font-weight: bold;
        font-style: oblique;
        border: dotted;
        border-color: #999999;
        border-width: 2px;
        font-size: 1.3rem;
    }


    button {
        background-color: #fae0f0ef;
        font-family: Georgia, 'Times New Roman', Times;
        color: #686868;
        font-style: oblique;
        font-size: 1.3rem;
        box-shadow: 3px 3px 7px grey;
    }

    button:hover {
        background-color: #ffffff;
        border-color:  #fae0f0ef;
        border-width: 3px;
        cursor: pointer;
    }

    input[type=text] {
        width: 50%;
        padding: 10px;
        margin: 8px 0;
        display: flex;
        justify-content: center;
      }

    input[type=radio] {
        margin: 1em;
        cursor: pointer;
    }

    input[type=checkbox] {
        margin: 1em;
        cursor: pointer;
    }

    input[type=number] {
        margin: 1em;
        cursor: pointer;
    }
}