@charset "utf-8";

/*--mobile--*/
@media(max-width: 480px) {
    
    header {
        background-color: #f0d9579d;
        margin: 1em;
        box-shadow: 5px 5px 10px grey;
    }

    header p {
        font-family: monospace;
        font-size: 10px;
        font-style: oblique;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
            
    .boxen {
        display: grid;
        float: left;
        box-shadow: 5px 5px 10px grey;
    }

    legend {
        background-color: #f0d9579d;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
    }
}


/*--Tablet--*/
    
@media(min-width:480px) and (max-width:768px) {


header {
    background-color: #f0d9579d;
    margin: 1em;
    box-shadow: 5px 5px 10px grey;
}
        
header p {
    font-family: monospace;
    font-size: 20px;
    font-style: oblique;
    padding: 10px;
    display: flex;
    justify-content: center;
}
        
.boxen {
    display: grid;
    float: left;
    box-shadow: 5px 5px 10px grey;
}

legend {
    background-color: #f0d9579d;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
    
}


/*--Desktop--*/
    
@media(min-width:768px) and (max-width:1288px) {

    header {
        background-color: #f0d9579d;
        margin: 1em;
        font-family: monospace;
        font-size: 20px;
        font-style: oblique;
        padding: 10px;
        display: flex;
        justify-content: center;
        box-shadow: 5px 5px 10px grey;
    }
    
    header p {
        font-family: monospace;
        font-size: 20px;
        font-style: oblique;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
        
    .boxen {
        display: grid;
        float: left;
        box-shadow: 5px 5px 10px grey;
    }
    
    legend {
        background-color: #f0d9579d;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
    }

    .probe {
        height: 5em;
        border: solid;
    }
}