@charset "utf-8";



/*--mobile--*/
@media(max-width: 480px) {
    
    header {
        background-color: #f0d9579d;
        margin: 1em;
    }
    
    header p {
        font-family: monospace;
        font-size: 20px;
        font-style: oblique;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    
    .boxen {
        display: grid;
        float: left;
    }

    .inhalte {
        display: grid;
        float: left;
    }
    
    .wievieleKugeln {
        width: 30px;
    }
    
    .versandinfo {
        margin: 5px;
    }
    
    p {
        background-color: #f0d9579d;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
    }

}

/*--Tablet--*/
    
@media(min-width:480px) and (max-width:768px) {
    
header {
    background-color: #f0d9579d;
    margin: 1em;
}
        
header p {
    font-family: monospace;
    font-size: 20px;
    font-style: oblique;
    padding: 10px;
    display: flex;
    justify-content: center;
}
        
.boxen {
    display: grid;
    float: left;
}

.inhalte {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
        
.wievieleKugeln {
    width: 30px;
}
        
.versandinfo {
    margin: 5px;
}
        
p {
    background-color: #f0d9579d;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

}


/*--Desktop--*/
    
@media(min-width:768px) and (max-width:1288px) {   
    
header {
            background-color: #f0d9579d;
            margin: 1em;
        }
        
        header p {
            font-family: monospace;
            font-size: 20px;
            font-style: oblique;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
        
        .boxen {
            display: grid;
            float: left;
        }
        
    .wievieleKugeln {
        width: 30px;
        }
        
    .versandinfo {
        margin: 5px;
    }   
    header {
        background-color: #f0d9579d;
        margin: 1em;
    }
    
    header p {
        font-family: monospace;
        font-size: 20px;
        font-style: oblique;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    
    .boxen {
        display: grid;
        float: left;
    }

    .wievieleKugeln {
        width: 30px;
    }
    
    .versandinfo {
        margin: 5px;
    }
    
    p {
        background-color: #f0d9579d;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
    }

    .inhalte {
        display: flex;
        justify-content: left;
        justify-items: center;
        flex-wrap: wrap;
    }
}